/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ css reset end **************/

/************** mobile version ************/
/* style the page*/
html{
	background-color: #f7f7ff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:#333131;
}

section, header{
	margin:10px 30px;
}

/*style the fonts/contents */
h1{
	font-size:3rem;
	font-weight:bold;
	line-height:3rem;
}
p, label, input, h4{
	font-weight:lighter;
	font-size:0.85rem;
	margin-top:0.8rem;	
}

.main p{
	font-size:1.25rem;
	line-height:1.55rem;
}
h2{
	font-weight:bold;
	font-size:2.05rem;
}

h3{
	font-size:1.25rem;
	font-weight:bold;
}

.application{
	color:#ff8480;
}

button{
	font-size:1.35rem;
	font-weight:bold;
	margin-top:0.8rem;
}

footer button{
	color:white;
}

/* style images */
header img{
	width:5rem;
	height:auto;
}

.background{
	width:80%;
	margin:0.2rem auto;
}

/* style the form */
form{
	margin:0.5rem auto;
	padding:1.5rem;
	box-shadow:0.5rem 0.8rem 1rem 0 grey;
	border-radius: 1rem;
	background-color: white;
}

    /** style all the inputs, buttons on the page **/
input, button{
	border-radius:0.4rem;	
	border:none;
	padding:0.5rem;	
	box-sizing: border-box;
	width:100%;
}

form input{
	background-color: rgb(229, 226, 226);
}

form button{
	background: #57eeab;
}

/**style the checkbox */
.checkbox{
	display:block;
	padding-left:1.25rem;  /***larger than the wdith of custom checkbox***/
	position:relative;
	cursor:pointer;
}
	/***hide default checkbox***/
.checkbox input{
	display:none;	
}
	/***create custome checkbox***/
.checkmark{
	position:absolute;
	top:0;
	left:0;
	height: 1rem;
	width: 1rem;
	border-radius:0.3rem;
	background-color:rgb(229, 226, 226);
}
.checkbox input:checked ~ .checkmark {
	background-color: #fffd8c;	
}
    /***create and style a checkmark***/
.checkmark:after{
	content: "";
	position: absolute;
	display: none;
} 

.checkbox input:checked ~ .checkmark:after{
	display: block;
} 

.checkbox .checkmark:after{
	left: 6px;
	top: 2px;
	width: 5px;
	height: 12px;
	border: solid #57eeab;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* style the footer */
footer{
	margin-top:2rem;
	background-color: #fffd8c;	
	padding:2rem;
}

footer input{
	background-color: white;
}

/** use flexbox to style the footer **/
.fields{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

#hours{
	width:30%;
	margin-right:2%;	
}

#city{
	width:68%;
}

.icon{
	display:flex;
	justify-content: space-around;
}

footer button{
	background-color: #ff8480;
}

footer img{
	margin-top:1rem;
}

/************** tablet version ****************/
/* use flexbox to style the footer */
@media screen and (min-width:480px){
	section, header{
		margin: 20px 40px;
	}

	.fields{
		flex-wrap:nowrap;
	}
	#city{
		margin-right:2%;
	}
	footer button{
		width:45%;
	}
	.icon{
		justify-content: center;
	}
	footer img{
		margin-right:5%;
	}
	form p{
		text-align:center;
	}
	h4{
		font-size:1.35rem;
	}
}

/**************** desktop version **************/
/* use flex box to style the .maincontent*/
@media screen and (min-width:800px){
	section, header{
		margin:30px 80px;
	}
	
	footer{
		padding:80px;
	}

	h1{
		line-height:4rem;
	}

	.maincontent{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}

	/**send the background img to back**/
	.background{
		position:fixed;
		left:30%;
		width:40%;
	}
	
	.main, .form{
		width:35%;
		position: relative;
		z-index:2;
	}

	/*style footer*/
	.container{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}

	.fields{
		width:60%;
	}
	
	footer button{
		width:55%;
	}
	
	footer img{
		margin-right:20%;
	}

	/** set the same margin to .icon  as sections **/
	.icon{
		margin-right:30px;
	}
}







